@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*
    Main Style
*/

body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

p.text-justify {
    font-size: 14px;
    line-height: 26px;
}

input.form-control.it,
textarea.form-control.it {
    border: 1px solid #2e3b53;
    transition: linear 0.5s;
}

input.form-control.it:focus,
input.form-control.it:active,
textarea.form-control.it:focus,
textarea.form-control.it:active {
    box-shadow: none;
    outline: #2e3b53;
    border: 1px solid #2e3b53;
}

input.form-control.it::placeholder {
    /* Firefox, Chrome, Opera */
    font-size: 13px;
    padding: 3px 5px;
}

form button.section-btn {
    border-radius: 0;
    background: #2e3b53;
    border: none;
    transition: 0.5s;
    margin: 30px 0;
    color: white;
}

form button.section-btn:hover {
    color: white;
}

a.section-btn {
    border-radius: 0;
    background: #2e3b53;
    border: none;
    transition: 0.5s;
    color: white;
}

a.section-btn:hover {
    color: white;
}

span.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.blockquote-footer {
    font-size: 16px;
    color: #2e3b53;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .blockquote-footer {
        font-size: 14px;
        color: #2e3b53;
    }
}


/*
    End Main Style
*/


/*
    Navbar Style
*/

nav#media.main-navbar {
    display: none;
}

.main-navbar {
    padding: 25px 0;
    transition: 0.5s;
}

.main-navbar span.navbar-brand {
    font-size: 20px;
    padding: 8px;
    margin: 0 50px 0 0;
    color: #f8d1a9;
    transition: 0.5s all;
}

.main-navbar ul.ml-auto li.nav-item.active a.nav-link {
    color: #f8d1a9;
}

.main-navbar ul.ml-auto li.nav-item a.nav-link {
    color: white;
    transition: 0.5s all;
    margin: 0 15px;
}

.main-navbar ul.ml-auto li.nav-item a.nav-link:hover {
    color: #f8d1a9;
}

.main-navbar.sticky {
    background: white;
    padding: 12px 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
}

.sticky span.navbar-brand {
    color: #f8d1a9;
    transition: 0.5s;
}

.sticky ul.ml-auto li.nav-item a.nav-link {
    color: black;
    transition: 0.5s all;
}

.sticky ul.ml-auto li.nav-item a.nav-link:hover,
.sticky ul.ml-auto li.nav-item a.nav-link:focus,
.sticky ul.ml-auto li.nav-item a.nav-link:active {
    color: #f8d1a9;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    nav#web.main-navbar {
        display: none;
    }
    nav#media.main-navbar {
        display: inherit;
    }
    nav#media.main-navbar,
    nav#media.main-navbar.sticky {
        padding: 5px 8px;
        background: white;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
        z-index: 900;
    }
    nav#media.main-navbar span.navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    nav#media.main-navbar span.navbar-brand:hover {
        color: #f8d1a9;
    }
    nav#media.main-navbar ul.ml-auto li.nav-item a.nav-link {
        color: black;
        transition: 0.5s all;
    }
    nav#media.main-navbar ul.ml-auto li.nav-item a.nav-link:hover,
    nav#media.main-navbar ul.ml-auto li.nav-item a.nav-link:focus,
    nav#media.main-navbar ul.ml-auto li.nav-item a.nav-link:active {
        color: #f8d1a9;
        transition: 0.5s;
    }
    nav#media.main-navbar #navbarDropdownMenuLink1.nav-link.dropdown-toggle {
        color: black;
    }
    nav#media.main-navbar .navbar-toggler {
        border: none;
    }
    nav#media.main-navbar .navbar-toggler:hover,
    nav#media.main-navbar .navbar-toggler:focus,
    nav#media.main-navbar .navbar-toggler:active {
        box-shadow: none;
        outline: none;
        border: none;
    }
    nav#media.main-navbar .navbar-toggler .navbar-toggler-icon {
        color: white;
    }
}


/*
    End Navbar Style
*/


/*
    Navbar Sub
*/

.main-navbar-sub {
    background: transparent;
    padding: 12px 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
}

.main-navbar-sub span.navbar-brand {
    font-size: 20px;
    padding: 8px;
    margin: 0 50px 0 0;
    color: #f8d1a9;
    transition: 0.5s all;
}

.main-navbar-sub span.navbar-brand:hover {
    color: #f8d1a9;
}

.main-navbar-sub ul.ml-auto li.nav-item.active a.nav-link {
    color: #f8d1a9;
}

.main-navbar-sub ul.ml-auto li.nav-item a.nav-link {
    color: black;
    transition: 0.5s all;
    margin: 0 15px;
}

.main-navbar-sub ul.ml-auto li.nav-item a.nav-link:hover {
    color: #f8d1a9;
}

.main-navbar-sub ul.ml-auto li.nav-item.dropdown a.nav-link.dropdown-toggle {
    color: black;
    transition: 0.5s;
    font-size: 16px;
}

.main-navbar-sub ul.ml-auto li.nav-item.dropdown a.nav-link.dropdown-toggle:hover,
.main-navbar-sub ul.ml-auto li.nav-item.dropdown a.nav-link.dropdown-toggle:focus,
.main-navbar-sub ul.ml-auto li.nav-item.dropdown a.nav-link.dropdown-toggle:active {
    color: #f8d1a9;
}

.main-navbar-sub ul.ml-auto li.nav-item.dropdown a.nav-link.dropdown-toggle i.fa {
    font-size: 20px;
    padding: 5px;
}

.main-navbar-sub ul.ml-auto li.nav-item.dropdown .dropdown-menu a.dropdown-item {
    font-size: 14px;
    transition: 0.3s;
}

.main-navbar-sub ul.ml-auto li.nav-item.dropdown .dropdown-menu a.dropdown-item:hover,
.main-navbar-sub ul.ml-auto li.nav-item.dropdown .dropdown-menu a.dropdown-item:focus,
.main-navbar-sub ul.ml-auto li.nav-item.dropdown .dropdown-menu a.dropdown-item:active {
    background: #f8d1a9;
    color: white;
}

@media only screen and (max-width: 768px) {
    .main-navbar-sub {
        padding: 5px 8px;
        background: white;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
    }
    .main-navbar-sub span.navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .main-navbar-sub span.navbar-brand:hover {
        color: #f8d1a9;
    }
    .main-navbar-sub ul.ml-auto li.nav-item a.nav-link {
        color: black;
        transition: 0.5s all;
    }
    .main-navbar-sub ul.ml-auto li.nav-item a.nav-link:hover,
    .main-navbar-sub ul.ml-auto li.nav-item a.nav-link:focus,
    .main-navbar-sub ul.ml-auto li.nav-item a.nav-link:active {
        color: #f8d1a9;
        transition: 0.5s;
    }
    .main-navbar-sub .navbar-toggler {
        border: none;
    }
    .main-navbar-sub .navbar-toggler:hover,
    .main-navbar-sub .navbar-toggler:focus,
    .main-navbar-sub .navbar-toggler:active {
        box-shadow: none;
        outline: none;
        border: none;
    }
    .main-navbar-sub .navbar-toggler .navbar-toggler-icon {
        color: black;
    }
}


/*
    End Navbar Sub
*/


/*
    Landing Page
*/


/*
    Jumbotron Style
*/

.jumbotron {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 100%), url("/assets/img/user/main.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 20px 0;
    text-align: center;
}

.container-full-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.display-4 {
    font-size: 80px;
}

.lead {
    font-size: 16px;
}

.arrow {
    align-self: flex-end;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

a .fa.fa-arrow-down {
    color: white;
    text-decoration: none;
    background: transparent;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    transition: 0.5s;
}

a .fa.fa-arrow-down:hover {
    color: #f8d1a9;
    background: white;
}

@media only screen and (max-width: 768px) {
    .display-4 {
        z-index: -1;
        font-size: 46px;
    }
}


/*
    End Jumbotron Style
*/


/*
    Info Style
*/

section#media-info.info {
    display: none;
}

section#web-info.info .img-fluid:nth-of-type(1) {
    width: 210px;
    height: 450px;
}

section#web-info.info .img-fluid:nth-of-type(2) {
    width: 200px;
    height: 450px;
    margin: 70px 15px 0 15px;
}

section#web-info.info .img-fluid:nth-of-type(3) {
    width: 210px;
    height: 450px;
}

section.info .col-md-4 h4 {
    font-weight: bold;
}

a.hyper {
    color: #f8d1a9;
    transition: 0.5s;
}

a.hyper:hover {
    color: #000000;
}

@media only screen and (max-width: 768px) {
    section#web-info.info {
        display: none;
    }
    section#media-info.info {
        display: inherit;
    }
}


/*
    End Info Style
*/


/*
    Description Style
*/

section.description {
    margin: 90px 0;
}

section.description .col-md-6:nth-of-type(1) h4 {
    font-weight: bold;
}

section.description .col-md-6:nth-of-type(2) img {
    width: 672px;
    height: 542px;
}


/*
    End Description Style
*/


/*
    Preview Style
*/

section.preview {
    margin: 35px 0;
}

.responsive-iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

@media only screen and(max-width: 768px) {
    .responsive-iframe {
        margin: 20px 0;
    }
}


/*
    End Preview Style
*/


/*
    Footer Style
*/

footer {
    margin: 25px 0;
}

footer h4 {
    text-align: center;
    margin: 15px 0 20px 0;
}

footer table#company-profile {
    width: 70%;
    margin: 0 auto 0;
}

footer .col-md-4 ul.list-unstyled li table#company-profile tr {
    height: 40px;
}

footer .col-md-4 ul.list-unstyled li table#company-profile tr td p {
    margin: 0;
}

footer .col-md-4 ul.list-unstyled li table#company-profile tr td i.fa {
    color: #2e3b53;
}

.social-footer a i.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.social-footer a i.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.social-footer {
    margin-bottom: 30px;
}

small.text-center {
    margin-top: 20px;
}


/*
    End Footer Style
*/


/*
    Category
*/

section.search-bar {
    margin: 35px 0;
    text-align: center;
    padding: 20px 15px;
}

section.search-bar h4 {
    font-weight: bold;
}

section.search-bar .input-group {
    width: 60%;
    box-shadow: 0 0.2px 2.5px rgba(0, 0, 0, 0.022), 0 0.6px 6.1px rgba(0, 0, 0, 0.032), 0 1.1px 11.4px rgba(0, 0, 0, 0.04), 0 2px 20.3px rgba(0, 0, 0, 0.048), 0 3.8px 38px rgba(0, 0, 0, 0.058), 0 9px 91px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

section.search-bar .input-group .input-group-prepend .input-group-text {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

section.search-bar .input-group input.form-control {
    box-shadow: none;
    border-left: none;
    outline: none;
}

section.search-bar .input-group input.form-control:active,
section.search-bar .input-group input.form-control:hover,
section.search-bar .input-group input.form-control:focus {
    border-color: #ced4da;
    outline: 0 none;
}

section.search-bar .input-group button.section-btn {
    border-radius: 0 10px 10px 0;
    background: #2e3b53;
    color: white;
}

section.search-bar .input-group button.section-btn:hover,
section.search-bar .input-group button.section-btn:active,
section.search-bar .input-group button.section-btn:focus {
    box-shadow: none;
}

section.item {
    margin: 25px 0;
}

section.item .card {
    height: 150px;
    border-radius: 10px;
    margin: 20px 0;
}

section.item .card .card-img-top {
    height: 150px;
    border-radius: 10px;
}

section.item .card .img__description_layer {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* transition effect. not necessary */
    transition: 0.5s, opacity 0.2s, visibility 0.2s;
    visibility: visible;
    opacity: 1;
}

section.item a.link-detail .card {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

section.item a.link-detail .card:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    margin: 5px 0;
    color: #2e3b53;
}

.img__description {
    transition: 0.2s;
    transform: translateY(1em);
    text-align: center;
    transform: translateY(0);
}

p.kp {
    margin-top: 48px;
}

@media only screen and (max-width: 768px) {
    section.item .col-md-2 {
        width: 50%;
        display: inline-flex;
    }
    section.search-bar .input-group {
        width: 100%;
    }
    p.kp {
        margin-top: 0;
    }
    footer .col-md-4 {
        text-align: center;
    }
}


/*
    Detail Category
*/

section.detail-category {
    margin: 35px 0;
}

section.detail-category .col-md-6 .media {
    margin: 20px 0;
}

section.detail-category .col-md-6 .media .media-body {
    padding: 15px;
}

section.detail-category .col-md-6 .media img {
    width: 152px;
    height: 152px;
    margin: 0;
    padding: 0;
}

section.detail-category .col-md-6 .media a {
    font-size: 14px;
}

section.detail#media {
    display: none;
}

a.carry p:hover {
    color: #000000;
}

a.carry p {
    font-size: 14px;
    color: #f8d1a9;
    transition: 0.5s;
    margin: 3px 0 0 0;
}


/*
        Detail Item
*/

section.detail {
    margin: 35px 0;
}

section.detail h1 {
    margin-bottom: 20px;
}

section.detail ul.list-group li.list-group-item {
    margin-right: 30px;
    margin-bottom: 40px;
}


/*
    Reply Detail Item
*/

section.reply {
    margin: 35px 0;
}

section.reply .media img {
    width: 70px;
    height: 70px;
}

section.reply .media .media-body p {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    section.detail#web {
        display: none;
    }
    section.detail#media {
        display: inherit;
    }
}


/*
    End Category
*/


/*
    Map
*/


/*
    End Map
*/


/*
    About
*/

section.about {
    margin: 35px 0;
}

section.about ul.social li {
    margin: 10px 0;
}

section.about ul.social li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

section.about a.facebook:hover {
    color: #3b5998;
}

section.about a.twitter:hover {
    color: #55acee;
}

section.about a.goggle:hover {
    color: #dd4b39;
}

section.about a.youtube:hover {
    color: #bb0000;
}

section.about a.instagram:hover {
    color: #125688;
}

section.about ul.social li a i.fa {
    padding: 7px;
    font-size: 12px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    section.about h1 {
        text-align: center;
    }
    section.about img.img-fluid {
        width: 310px;
        height: 186.34px;
    }
    section.about ul.social {
        padding: 0;
    }
}


/*
    End About
*/


/*
    Contact
*/

section.contact {
    margin: 35px 0;
}

section.contact .col-md-8 h1 {
    margin: 0;
}

section.contact .col-md-8 p {
    color: grey;
    margin: 0 0 30px 0;
}

form button.section-btn:hover {
    opacity: 0.9;
}

section.contact .col-md-4 .panel .panel-body {
    padding: 12px 30px;
}

section.contact .col-md-4 .panel .panel-body table#info {
    margin: 15px 0;
}

section.contact .col-md-4 .panel .panel-body table#info tr {
    height: 40px;
}


/*
    End Contact
*/
